.news-app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1080px;
  min-height: 1920px;
  text-align: center;
  border-radius: 5px;
}
.main-title {
  background-color: pink;
}

.search-field {
  display: flex;
  justify-content: center;
}
.search-icon {
  margin-top: 15px;
  cursor: pointer;
}

.tabs-container {
  display: flex;
  margin: 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.non-active-tab {
  width: 200px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  white-space: nowrap;
}
.active-tab {
  width: 200px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;
  border-bottom: 2px solid blue;
}

.all-article {
  margin-top: 40px;
}

.article {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px lightgray;
}
.active-searched {
  margin: 30px;
  font-size: 20px;
}

.non-active-searched {
  display: none;
}
